<%- include('partials/header') %>
    <!-- Banner Area -->  
    <section class="pages_banner">  
    	<div class="container">
			<h6 class="wow fadeInUp">About Dmsa</h6>
   			<h2 class="wow fadeInUp" data-wow-delay="0.3s">Digital marketing & search agency</h2> 
    	</div>   
    	<img src="images/pages-banner-1.png" alt="" class="banner_img wow zoomIn lfup">
    </section>
    <!-- Banner Area -->  
    
    <!-- Our History Area -->   
    <section class="history_area">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6">
    				<img src="images/history-img.png" alt="">
    			</div>
    			<div class="col-lg-6 history_content">
    				<h4>Our History</h4>
    				<p>The making of WigWag. Exposing the secret behind the complex story behind the brand we all know and love.</p>
    				<h4>Our Principles</h4>
    				<p>Ready to solve problems and eager to apply new ideas. This is the brave territory where we come together, and it’s hard to get there if you’re not having fun.</p>
    				<h4>Business success</h4>
    				<p>Ready to solve problems and eager to apply new ideas. This is the brave territory where we come together, and it’s hard to get there if you’re not having fun.</p>
    				<h4>Digital Solution</h4>
    				<p>Ready to solve problems and eager to apply new ideas. This is the brave territory where we come together, and it’s hard to get there if you’re not having fun.</p>
    			</div>
    		</div>
    	</div>
    </section>
    <!-- Our History Area -->   
      
    <!-- About SEO Digital agency -->  
    <section class="about_area">
    	<div class="container"> 
    		<div class="row">
    			<div class="col-lg-7 tittle">
    				<h6>About SEO Digital agency</h6>
    				<h2>Attract Customers <br>With <br>Content And SEO</h2>
    				<h4>How Can <a href="#">Dmsa</a> Help Your Business?</h4>
    				<p>Building your online presence helps attract more potential clients. Our integrated marketing team will work directly with you to understand what makes your business unique, and provide more qualified leads to achieve success in your industry</p>
    				<a href="#" class="theme_btn">Check Website</a>
    			</div>
    			<div class="col-lg-5">
    				<img src="images/about.png" alt="" class="wow zoomIn">
    			</div>
    		</div>
    	</div>
    </section>
    <!-- About SEO Digital agency --> 
    
    <!-- Seo Expart -->  
    <section class="seo_expart se_2">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-2 nav_slide">
    				<img src="images/expart-man.png" alt="">  
    			</div>
    			<div class="col-lg-10">
    				<h2>Our SEO Expert</h2> 
    				<div class="row expart_slid">
						<div class="col-md-4 col-sm-6 expart_item">
							<img src="images/expart-1.png" alt="">
							<a href="#">Mahfuz Riad</a>
							<h6>SEO Expert</h6>
						</div>
						<div class="col-md-4 col-sm-6 expart_item">
							<img src="images/expart-2.png" alt="">
							<a href="#">Emran Khan</a>
							<h6>Fed Developer</h6>
						</div>
						<div class="col-md-4 col-sm-6 expart_item">
							<img src="images/expart-3.png" alt="">
							<a href="#">Mahfuz Riad</a>
							<h6>SEO Expert</h6>
						</div>
					</div>
    			</div>
    		</div> 
			<div class="row expart_slid p-0">
				<div class="col-lg-3 col-md-4 col-sm-6 expart_item">
					<img src="images/expart-4.png" alt="">
					<a href="#">Mahfuz Riad</a>
					<h6>SEO Expert</h6>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 expart_item">
					<img src="images/expart-5.png" alt="">
					<a href="#">Hudai Ajaira</a>
					<h6>Fed Developer</h6>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 expart_item">
					<img src="images/expart-6.png" alt="">
					<a href="#">Emran Khan</a>
					<h6>SEO Expert</h6>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 expart_item">
					<img src="images/expart-3.png" alt="">
					<a href="#">Mahfuz Riad</a>
					<h6>SEO Expert</h6>
				</div>
			</div>
    	</div>
    </section>
    <!-- Seo Expart -->  
    
    <!-- Digital agency -->  
    <section class="digital_agency">
    	<div class="container">
    		<div class="tittle">
    			<h2>We’re a Digital agency</h2>
    			<p>We are an Creative agency, based in New York. Vision Every company is performing best online. Mission Helping businesses to find the perfect and most succesful <br>strategy, to be online.</p>
    		</div>
    		<div class="row">
    			<div class="col-xl-5">
    				<div class="agency_video">
    					<img src="images/digital_agency.png" alt="">
    					<a class="popup-youtube" href="https://player.vimeo.com/video/142874198"><i class="flaticon-play-button-1"></i></a>
    				</div>
    			</div>
    			<div class="col-xl-7 countarup_area">
					<div class="counter_item wow zoomIn">
						<h4>Projects</h4>
						<h2><span class="counter">30</span>k</h2>
					</div>
					<div class="counter_item  wow zoomIn"  data-wow-delay="0.2s">
						<h4>Cups of Coffee</h4>
						<h2 class="counter">451</h2>
					</div>
					<div class="counter_item  wow zoomIn"  data-wow-delay="0.4s">
						<h4>Customers</h4>
						<h2><span class="counter">120</span>k</h2>
					</div>
					<div class="counter_item  wow zoomIn"  data-wow-delay="0.6s">
						<h4>Clients</h4>
						<h2><span class="counter">130</span>k</h2>
					</div>
				</div>
    		</div>
    	</div>
    </section>
    <!-- Digital agency -->   
    
    <!-- Got a Problem --> 
    <section class="got_problem">
    	<div class="container"> 
    		<div class="row">
    			<div class="col-lg-5">
    				<img src="images/problem.png" alt="" class="wow zoomIn">
    			</div>
    			<div class="col-lg-7 problem_from">
    				<h2>Got a Problem</h2>
    				<p>Before we put our thinking caps on, tell us a few things about yourself</p>
    				<form class="solve_from row" action="https://themazine.com/html/dmsa/php/contact.php" method="post" id="phpcontactform" novalidate="novalidate">  
						<div class="form-group col-md-6">   
							<input type="text" class="form-control" id="name" name="name" placeholder="Name *"> 
						</div> 
						<div class="form-group col-md-6">
							<input type="email" class="form-control" id="email" name="email"  placeholder="Email *">
						</div>    
						<div class="form-group col-12">
							<textarea class="form-control" id="message" name="message" placeholder="Message *"></textarea>
						</div>
						<div class="form-group col-12">
							<button class="theme_btn" id="js-contact-btn" type="submit">Send</button>   
							<div id="js-contact-result" data-success-msg="Form submitted successfully." data-error-msg="Messages Successfully"></div>
						</div>     
					</form> 
    			</div>
    		</div>
    	</div>
    </section>
    <!-- Got a Problem -->  
	
 <%- include('partials/footer') %>