
    <%- include('partials/header') %>
  
    
    <!-- Banner Area -->  
    <section class="banner_area banner_3">  
    	<div class="container"> 
   			<h2 class="wow fadeInUp">Digital Business Lab <span>SEO</span> Agency </h2>
   			<p class="wow fadeInUp" data-wow-delay="0.3s">SEO is the art and science of ranking on Google. Moreover, it’s our passion!</p>
   			<a href="#" class="theme_btn3 wow fadeInUp" data-wow-delay="0.9s">Digital Markting</a>
    	</div>  
    	<img src="images/rs-banner-3.png" alt="" class="wow zoomIn rs_banner">
    	<div class="illustration2">
    		<div class="illustration_inner"> 
				<img src="images/illustration/banner-3.1.png" alt="" class="wow zoomIn img_1 lfup">
				<img src="images/illustration/banner-3.2.png" alt="" class="wow slideInLeft img_2" data-wow-delay="0.3s">
				<img src="images/illustration/banner-3.3.png" alt="" class="wow slideInRight img_3 lfar" data-wow-delay="0.3s"> 
    		</div>
    	</div>
    </section>
    <!-- Banner Area -->   
    
    <!-- Services Area -->  
    <section class="servises_area sa_3">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-4 col-md-6 wow fadeIn">
    				<div class="servis_items active">
						<img src="images/services-v-1.png" alt="" class="wow zoomIn">
    					<a href="#">Search Engine <br>Marketing</a>
    					<p>Let us put your website in front of consumers at the moment in time they are searching for your products & services.</p>
    				</div>
    			</div>
    			<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.3s">
    				<div class="servis_items active">
						<img src="images/services-v-2.png" alt="" class="wow zoomIn">
    					<a href="#">Rech Influencer Marketing</a>
    					<p>Working together, we will use our knowledge of SEO to bring more leads to your business through your website.</p>
    				</div>
    			</div>
    			<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.6s">
    				<div class="servis_items active">
						<img src="images/services-v-3.png" alt="" class="wow zoomIn">
    					<a href="#">Reputation Management</a>
    					<p>Let us put your website in front of consumers at the moment in time they are searching for your products & services.</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <!-- Services Area --> 
    
    <!-- Digital agency -->  
    <section class="digital_agency da_3">
    	<div class="container">
    		<div class="tittle">
    			<h2>We’re a Digital agency</h2>
    			<p>We are an Creative agency, based in New York. Vision Every company is performing best online. Mission Helping businesses to find the perfect and most succesful <br>strategy, to be online.</p>
    		</div>
    		<div class="row tittle_cont">
    			<div class="col-xl-5">
    				<div class="agency_video">
    					<img src="images/digital_agency-2.png" alt="" class="wow zoomIn"> 
    				</div>
    			</div> 
    			<div class="col-lg-7 tittle">
    				<h6>About SEO Digital agency</h6>
    				<h2>Attract Customers With Content And SEO</h2> 
    				<p>Building your online presence helps attract more potential clients. Our integrated marketing team will work directly with you to understand what makes your business unique, and provide more qualified leads to achieve success in your industry</p>
    				<a href="#" class="theme_btn3">Check Website</a>
    			</div>
    		</div>
    	</div>
    </section>
    <!-- Digital agency -->      
    
    <!-- Love Project -->
    <!-- <section class="love_project_area">
    	<div class="container">
    		<div class="tittle">
    			<h2>Some of our most loved projects</h2>
    			<a href="portfolio.html" class="theme_btn2">More Project</a>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-lg-3 col-sm-6">
    			<div class="love_item">
    				<img src="images/project/love-project-1.jpg" alt="">
    				<div class="hover">
    					<a href="portfolio-single.html" class="heding">complex design software</a>
    					<h6>Seo & digital agency</h6>
    					<a href="portfolio-single.html" class="read_more"><i class="fas fa-arrow-right"></i></a>
    				</div>
    			</div>
    		</div>
    		<div class="col-lg-3 col-sm-6">
    			<div class="love_item">
    				<img src="images/project/love-project-2.jpg" alt="">
    				<div class="hover">
    					<a href="portfolio-single.html" class="heding">complex design software</a>
    					<h6>Seo & digital agency</h6>
    					<a href="portfolio-single.html" class="read_more"><i class="fas fa-arrow-right"></i></a>
    				</div>
    			</div>
    		</div>
    		<div class="col-lg-3 col-sm-6">
    			<div class="love_item">
    				<img src="images/project/love-project-3.jpg" alt="">
    				<div class="hover">
    					<a href="portfolio-single.html" class="heding">complex design software</a>
    					<h6>Seo & digital agency</h6>
    					<a href="portfolio-single.html" class="read_more"><i class="fas fa-arrow-right"></i></a>
    				</div>
    			</div>
    		</div>
    		<div class="col-lg-3 col-sm-6">
    			<div class="love_item">
    				<img src="images/project/love-project-4.jpg" alt="">
    				<div class="hover">
    					<a href="portfolio-single.html" class="heding">complex design software</a>
    					<h6>Seo & digital agency</h6>
    					<a href="portfolio-single.html" class="read_more"><i class="fas fa-arrow-right"></i></a>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>       -->
    Love Project      
     
    <!-- SEO Optimizarion --> 
    <section class="optimizarion_area optimizarion_2">
    	<div class="container">
    		<div class="row optimizarion_row">
    			<div class="col-lg-6 seo_img wow zoomIn">
    				<img src="images/seo-4.png" alt="">
    			</div>
    			<div class="col-lg-6 tittle">
    				<h6>Social Media Management</h6>
    				<h2>Our target customers use platforms <br>such as Facebook</h2>
    				<a href="#" class="theme_btn2">Explor More</a>
    			</div>
    		</div>
    		<div class="row optimizarion_row">
    			<div class="col-lg-6 seo_img wow zoomIn">
    				<img src="images/seo-5.png" alt="">
    			</div>
    			<div class="col-lg-6 tittle">
    				<h6>SEO Optimizarion</h6>
    				<h2>Tailored Strategies & <br>Targeted Results <br>SEO process</h2>
    				<a href="#" class="theme_btn2">Explor More</a>
    			</div>
    		</div>
    		<div class="row optimizarion_row">
    			<div class="col-lg-6 seo_img wow zoomIn">
    				<img src="images/seo-6.png" alt="">
    			</div>
    			<div class="col-lg-6 tittle">
    				<h6>Reputation Management</h6>
    				<h2>84% of People Trust Online Reviews</h2>
    				<a href="#" class="theme_btn2">Explor More</a>
    			</div>
    		</div>
    	</div>
    </section>
    <!-- SEO Optimizarion -->    
    
    <!-- Testimonial -->  
    <section class="testimonial_area">
    	<div class="container">
    		<div class="tittle">
    			<h6>Testimonial</h6>
    			<h2>Hear what others are saying</h2>
    		</div>
    		<div class="carousel slide ts_slide" data-ride="carousel">
    			<div class="carousel-inner">
    				<div class="carousel-item active"> 
    					<p><img src="images/shap/quate.png" alt="">Since we began our partnership with Restoration Digital Marketing, our web traffic has increased tremendously. This has led to increased phone calls, that are legitimate leads, which has equaled increased revenue. Jeff has been great to work with and is extremely helpful and knowledgeable. </p>
    					<img src="images/testimonial.jpg" alt="">
   						<a href="#">Emran Khan</a>
   						<h6>Web Developer</h6>
    				</div>
    				<div class="carousel-item"> 
    					<p><img src="images/shap/quate.png" alt="">Since we began our partnership with Restoration Digital Marketing, our web traffic has increased tremendously. This has led to increased phone calls, that are legitimate leads, which has equaled increased revenue. Jeff has been great to work with and is extremely helpful and knowledgeable. </p>
    					<img src="images/testimonial.jpg" alt="">
   						<a href="#">Akram Hossain</a>
   						<h6>Frontend Web Developer</h6>
    				</div> 
    				<div class="carousel-item"> 
    					<p><img src="images/shap/quate.png" alt="">Since we began our partnership with Restoration Digital Marketing, our web traffic has increased tremendously. This has led to increased phone calls, that are legitimate leads, which has equaled increased revenue. Jeff has been great to work with and is extremely helpful and knowledgeable. </p>
    					<img src="images/testimonial.jpg" alt="">
   						<a href="#">Mahfuz Riad</a>
   						<h6>Ux &amp; Product Designer</h6>
    				</div> 
    			</div> 
    			<ol class="indicators">
    				<li data-target=".ts_slide" data-slide-to="0" class="active"></li>
    				<li data-target=".ts_slide" data-slide-to="1"></li>
    				<li data-target=".ts_slide" data-slide-to="2"></li>
    			</ol>
    		</div>
    	</div>
    	<img src="images/shap/testimonial-shap.png" alt="" class="ta_shap">
    </section>
    <!-- Testimonial -->  
    
    <!-- Seo Expart -->  
    <section class="seo_expart">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-2 nav_slide">
    				<img src="images/expart-man.png" alt=""> 
					<a class="prev" href=".html" role="button" data-slide="prev"><i class="fas fa-arrow-left"></i></a>
					<a class="next" href=".html" role="button" data-slide="next"><i class="fas fa-arrow-right"></i></a>
    			</div>
    			<div class="col-lg-10">
    				<h2>Our SEO Expert</h2>
    				<div class="carousel slide expart_slid" data-ride="carousel">
    					<div class="carousel-inner">
    						<div class="carousel-item active">
   								<div class="row">
   									<div class="col-md-4 col-sm-6 expart_item">
										<img src="images/expart-1.png" alt="">
										<a href="#">Mahfuz Riad</a>
										<h6>SEO Expert</h6>
   									</div>
   									<div class="col-md-4 col-sm-6 expart_item">
										<img src="images/expart-2.png" alt="">
										<a href="#">Emran Khan</a>
										<h6>Fed Developer</h6>
   									</div>
   									<div class="col-md-4 col-sm-6 expart_item">
										<img src="images/expart-3.png" alt="">
										<a href="#">Mahfuz Riad</a>
										<h6>SEO Expert</h6>
   									</div>
   								</div>
    						</div>
    						<div class="carousel-item">
   								<div class="row">
   									<div class="col-md-4 col-sm-6 expart_item">
										<img src="images/expart-1.png" alt="">
										<a href="#">Mahfuz Riad</a>
										<h6>SEO Expert</h6>
   									</div>
   									<div class="col-md-4 col-sm-6 expart_item">
										<img src="images/expart-2.png" alt="">
										<a href="#">Emran Khan</a>
										<h6>Fed Developer</h6>
   									</div>
   									<div class="col-md-4 col-sm-6 expart_item">
										<img src="images/expart-3.png" alt="">
										<a href="#">Mahfuz Riad</a>
										<h6>SEO Expert</h6>
   									</div>
   								</div>
    						</div> 
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <!-- Seo Expart -->   
    
    <!-- Got a Problem --> 
    <section class="got_problem">
    	<div class="container"> 
    		<div class="row">
    			<div class="col-lg-5">
    				<img src="images/problem.png" alt="" class="wow zoomIn">
    			</div>
    			<div class="col-lg-7 problem_from">
    				<h2>Got a Problem</h2>
    				<p>Before we put our thinking caps on, tell us a few things about yourself</p>
    				<form class="solve_from row" action="https://themazine.com/html/dmsa/php/contact.php" method="post" id="phpcontactform" novalidate="novalidate">  
						<div class="form-group col-md-6">   
							<input type="text" class="form-control" id="name" name="name" placeholder="Name *"> 
						</div> 
						<div class="form-group col-md-6">
							<input type="email" class="form-control" id="email" name="email"  placeholder="Email *">
						</div>    
						<div class="form-group col-12">
							<textarea class="form-control" id="message" name="message" placeholder="Message *"></textarea>
						</div>
						<div class="form-group col-12">
							<button class="theme_btn" id="js-contact-btn" type="submit">Send</button>   
							<div id="js-contact-result" data-success-msg="Form submitted successfully." data-error-msg="Messages Successfully"></div>
						</div>     
					</form> 
    			</div>
    		</div>
    	</div>
    </section>
    <!-- Got a Problem -->  
	
  
  
<%- include('partials/footer') %>